body {
  font-family: 'Caesar Dressing', cursive;
  background: linear-gradient(180deg, #20222b, #2a3449  );
}

header h1 {
  /* border: 2px solid silver; */
  background-color: rgb(180, 153, 0);
  color: white;
  font-family: 'Caesar Dressing', cursive;
  font-size: 5em; 
  text-align: center;
}

header nav {
  /* border: 3px solid red; */
  margin-top: 25px;
  font-family: 'Caesar Dressing', cursive;
  height: 50px;
  align-items: center;
  padding: 5px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

nav li {
  font-size: 2.8em;
}

main {
  /* border: 10px solid green; */
  margin-top: 25px;
}

#container {
  /* border: 1px solid white; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#useractions {
  padding: 10px;
  margin: 10px; 
  /* border: 2px solid orange; */
  display: flex;
  justify-content: center;
  align-items: center;
}

#spinButton {
  margin-left: 25px;
  background-color: rgb(180, 153, 0);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  color: white;
  font-size: 3em;
  font-family: 'Caesar Dressing', cursive;
}
#credits {
  text-align: center;
  line-height: 200px;
  background-color: rgb(180, 153, 0);
  border-radius: 50%;
  height: 200px;
  width: 200px;
  color: white;
  font-size: 2.6em;
  font-family: 'Caesar Dressing', cursive;
}

#aboutUsCards td{
  /* border: 2px solid black; */
  height: 450px;
  width: 300px; 
  padding: 5px; 
}

#firstReel, #secondReel, #thirdReel  {
  /* border: 10px solid red; */
  width: 350px;
  height: 350px;
}

#slot-machine {
  display: flex;
  /* border: 5px solid orange; */
  padding: 20px;
}

/* modal styling 69 -137 */
.button {
  background-color: royalblue;
  color: #fff;
  padding: 1em 2em;
  border: 0;
}

#modal {
  /* uncomment display: none; when code is ready because modal will hide when this is uncommented */
  display: none;
  position: fixed;
  z-index: 1000;
  left: 27%;
  top: 12%;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

#game-over {
  /* uncomment display: none; when code is ready because modal will hide when this is uncommented */
  /* display: none; */
  position: fixed;
  z-index: 1000;
  left: 27%;
  top: 32%;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

.modal-content {
  background-color: rgb(180, 153, 0);
  color: white;
  margin: 20px 60px;
  padding: 40px;
  width: 80%;
  text-align: center;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.age-form {
  font-family: 'Caesar Dressing', cursive;
  font-size: 2em;
  line-height: 1.5em; 
}

#legend, #over-legend {
  font-family: 'Caesar Dressing', cursive;
  font-size: 3em;
  line-height: 1.5em; 
}

#label, input {
  font-size: 2em;
}

form > p {
  font-family: 'Caesar Dressing', cursive;
  font-size: 2em;
}

#submit-button, #submit-over-button, button {
  color: #ccc;
  font-size: 30px;
  font-family: 'Caesar Dressing', cursive;
}

#submit-button:hover, #submit-button:focus, #submit-over-button:hover, #submit-over-button:focus, button:hover, button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close-button {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.close-button:hover, .close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
