header h1 {
  border: 2px solid silver;
  background-color: rgb(180, 153, 0);
  color: white;
  font-family: 'Caesar Dressing', cursive;
  font-size: 4em; 
  text-align: center;
}

main {
  border: 10px solid green;
  /* display: block; */
  margin-top: 25px;
}

#container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#spinButton {
  border: 3px solid purple;
}

header nav {
  border: 3px solid red;
  text-align: center;
  width: 50%;
  margin: auto;
  margin-top: 25px;
}

nav ul {
  width: 100%;
}

nav li {
  display: inline-block;
  border: 1px solid blue;
  width: max-content;
}

#aboutUsCards td{
  border: 2px solid black;
  height: 450px;
  width: 300px; 
  padding: 5px; 
}

#firstReel, #secondReel, #thirdReel  {
  border: 1px solid red;
  width: 350px;
  height: 350px;
}

#slot-machine {
  display: flex;
  width: max-content;
  border: 5px solid orange;
  padding: 20px;
}

#credits {
  border: 2px solid green;
}

/* modal styling 69 -137 */
.button {
  background-color: royalblue;
  color: #fff;
  padding: 1em 2em;
  border: 0;
}

.button:hover {
  background-color: cadetblue;
}

#modal {
  /* uncomment display: none; when code is ready because modal will hide when this is uncommented */
  display: none;
  position: fixed;
  z-index: 1000;
  left: 27%;
  top: 12%;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.1);
}

.modal-content {
  background-color: rgb(180, 153, 0);
  color: white;
  margin: 20px 60px;
  padding: 40px;
  width: 80%;
  text-align: center;
  box-shadow: 0 5px 8px 0 rgba(0,0,0,0.17), 0 7px 20px 0 rgba(0,0,0,0.17);
}

.age-form {
  font-family: 'Caesar Dressing', cursive;
  font-size: 2em;
  line-height: 1.5em; 
}

#legend {
  font-family: 'Caesar Dressing', cursive;
  font-size: 3em;
  line-height: 1.5em; 
}

#submit-button {
  color: #ccc;
  font-size: 30px;
  font-family: 'Caesar Dressing', cursive;
}

#submit-button:hover, #submit-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.close-button {
  color: #ccc;
  float: right;
  font-size: 30px;
}

.close-button:hover, .close-button:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
